body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  }
/*.imageSlide{
  object-fit: cover;
 width: 100%;
 height: 100%;
 border-radius: 10px;
padding:2px 8px;}*/
  

a{
  text-decoration: none;
  color:white;
  stroke-opacity: initial;
  font-size: 15px;
 
}

.invalid-field{
  border-color: #dc3545;
  color: #dc3545;
  background-color: #fff;
 }

.card:hover {
  cursor: pointer;
  transform: scale(1.5);
  box-shadow: 0 0 20px #333;
  z-index: 10;
 
}
.card:hover button.delete-button {
  visibility: visible;
  size: 50px;

}
button.delete-button
{
  visibility: visible;
  position: relative;
  bottom: 70px;
 border-radius: 2px;
 padding:1px 1px;
left:45px;

}



.card .delete-button {
  visibility: hidden;
  
}

.imageUploadCard{
align-items: center;
height: 100px;
width: 20%;
background-color: whitesmoke;
border-radius: 10px;
padding:2px 6px;
padding-top:15px;

position: relative;
bottom:20px;

}

   .card{
  object-fit: cover;
  align-items: center;
  margin: 0px;
  max-width: 100%;
  max-height:80px;
 overflow: hidden;
 background-size: cover;
display: grid;
position: relative;
cursor: pointer;
transition: .15s linear;
  }
  .cardimage{
    width: 100%;
    height: auto;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading-spinner {
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #383636; /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
  }
.cardTop{
background-color: black;
position: relative;
display: block;
height: 100px;
border-radius:10px;
width: 100%;
}

.btn {
  padding: 2px 20px;
  background-color: black;
  color: white;
  border: none;
 font-size: 13px;
 position: relative;
}

.btn:hover {
  background-color: whitesmoke;
  transform: scale(1);
 
}
.UploadImage{
  position: relative;
  left: 200px;
}
.fileChoose {
 

  height: 20px;
  width: 100%;
  position: relative;
  right:180px;
  bottom: 115px;
}
.cards :hover{
  cursor: pointer;
  transform: scale(1.3);
  box-shadow: 0 0 80px black;
  z-index: 10;

  
}
.btnupload{
  position: relative;
  right:140px;
 bottom:80px;
}
.buttonUpload{
  display: flex;
}

.form-control-file {
  margin:0;
  padding: 2px;
  font-size: 0.5rem;
  line-height: 1.2;
  color: black;
  background-color: whitesmoke;
  border-color: black;
  text-align: center;
  height: 100px;
  
}
.form-control-file:focus {
  border-color: black;
  outline: 5;
  box-shadow: 0 0 0 12rem rgba(0, 123, 255, .25);
  
}
.form-control-file {
  font-size: 0.7rem;
  color: green;
  
}
.cards {
  max-width: 400px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  
  background-color:black;
 
   height:100px;
   position: relative;
   bottom:15px;
   left:170px;
}
.cards img{
  object-fit: cover;
  position: relative;
  left: 45px;
}

.carousel-inner { overflow: visible; }
.carousel-control-next-icon, .carousel-control-prev-icon{
  visibility:hidden;
}
.carousel-indicators 
{
  display: none;
  visibility:hidden;
}

.imageMain{
  height: 100vh;
  width: 80%;
  background-color: white;
  justify-content: center;
  margin: auto;
  position: relative;
  left: 100px;
  padding:5px 5px;
  margin-top: 100px;

}
.imageslistuploads{
  background-color: gray;
justify-content: center;

}
img {
  max-width: 100%;
  height: 100%;
}